*{
    padding: 0;
    margin: 0;
    font-family: 'varela';
}
html, body, #app {
    width: 100%;
    height: 100%;
}
li {
    list-style: none;
}
small.tips {
    display: block;
    color: #999;
}
small.tips.tips-inline {
    display: inline;
    margin-left: 1rem;
}