<?xml version="1.0" encoding="UTF-8" ?>
<!--
  ~ Copyright (c) 2020.  EasterTracker App
  ~ Group: Burn My Calories
  ~ Author: Binbin Tang , Jia Zhu , Quan Zhou , Weilun Chen , Xinnan Shen , and Zongdong Liu
  ~ Project 2 for COMP90018, 2020 S2
  ~ Time: 2020/10/22 23:24.
  ~ Usage: implementations of operations on user
  -->

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.UserMapper">
<!--    <cache type="org.mybatis.caches.ehcache.EhcacheCache"/>-->
    <cache type="com.util.RedisCacheUtils"/>
    <insert id="addUser" parameterType="map">
        insert into `User`(`id`,`username`,`password`,`gender`,`nickname`,`contact`,`latitude`,`longitude`,`is_active`) values (#{id},#{username},md5(#{password}),#{gender},#{nickname},#{contact},#{latitude},#{longitude},1);
    </insert>
    <delete id="delUser" parameterType="map">
        delete from `User`
        <where>
            <if test="id!=null">
                id=#{id}
            </if>
            <if test="username!=null">
                and username=#{username}
            </if>
            <if test="nickname!=null">
                and nickname=#{nickname}
            </if>
        </where>
    </delete>
    <update id="updateUser" parameterType="map">
        update `User` set `username`=#{username},
        <if test="password!=null">
            `password`=md5(#{password}),
        </if>
        `gender`=#{gender},`nickname`=#{nickname},`contact`=#{contact},`latitude`=#{latitude},`longitude`=#{longitude},`is_online`=#{is_online},`update_time`=NOW(),`version`=`version`+1,`is_deleted`=#{is_deleted} where id=#{id};
    </update>
    <select id="queryUser" parameterType="map" resultType="User">
        select `id`,`username`,`password`,`gender`,`nickname`,`contact`,`latitude`,`longitude`,`is_online`,`is_deleted` from `User`
        <where>
            <if test="id!=null">
                id=#{id}
            </if>
            <if test="username!=null">
                and username=#{username}
            </if>
            <if test="password!=null">
                and password=md5(#{password})
            </if>
            <if test="contact!=null">
                and contact=#{contact}
            </if>
            <if test="nickname!=null">
                and nickname=#{nickname}
            </if>
            <if test="latitude!=null">
                and latitude=#{latitude}
            </if>
            <if test="longitude!=null">
                and longitude=#{longitude}
            </if>

        </where>
    </select>
</mapper>