<?xml version="1.0" encoding="UTF-8" ?>
<!--
  ~ Copyright (c) 2020.  EasterTracker App
  ~ Group: Burn My Calories
  ~ Author: Binbin Tang , Jia Zhu , Quan Zhou , Weilun Chen , Xinnan Shen , and Zongdong Liu
  ~ Project 2 for COMP90018, 2020 S2
  ~ Time: 2020/10/22 23:24.
  ~ Usage: Mybatis configuration file
  -->

<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
<!--    <properties resource="db.properties"></properties>-->
    <settings>
        <setting name="logImpl" value="STDOUT_LOGGING"/>
        <setting name="cacheEnabled" value="true"/>
    </settings>
    <typeAliases>
        <package name="com.model"/>
    </typeAliases>

</configuration>