<?xml version="1.0" encoding="utf-8"?>
<!--

* Author: Xinnan Shen
* Date: 18-10-2020
* Usage: Define Application Properties & Request Some Permissions

-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.burnmycalories.eastermap">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/BurnMyCalories.EasterMap.Theme"
        tools:ignore="AllowBackup">
        <activity android:name="com.burnmycalories.eastermap.activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>
    <!-- 网络权限，加载网络网页需要联网 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 粗略定位权限，允许一个程序通过网络获取粗略的位置 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 精确定位权限，允许一个程序访问精确位置(GPS定位) -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-permission android:name="android.permission.ACCESS_GPS" />
    <uses-permission android:name="android.permission.ACCESS_ASSISTED_GPS" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION" />
    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true" />
</manifest>